<mat-card>
  <mat-card-title>Festivos del Año</mat-card-title>
  <mat-form-field appearance="fill">
    <mat-label>Año</mat-label>
    <input matInput type="number" [(ngModel)]="anio">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="obtenerFestivos()">Buscar</button>

  <ngx-datatable 
    class="material" 
    [rows]="festivos" 
    [columns]="[{ name: 'Nombre', prop: 'nombre' }, { name: 'Fecha', prop: 'fecha' }]"
    [columnMode]="'force'" 
    [headerHeight]="50" 
    [footerHeight]="50" 
    [rowHeight]="'auto'">
  </ngx-datatable>
</mat-card>